<h1>Edit a salamander</h1>

<form action="/salamanders/<%= @salamander.id %>" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <div>
    <input type="text" name="salamander[name]" placeholder="Name" value="<%= @salamander.name %>">
  </div>
  <div>
    <input type="text" name="salamander[continent]" placeholder="Continent" value="<%= @salamander.continent %>">
  </div>
  <div>
    <input type="text" name="salamander[color]" placeholder="Color" value="<%= @salamander.color %>">
  </div>

  <input type="submit" value="Edit salamander">
</form>
