<h1>Create a new salamander</h1>

<form action="/salamanders" method="POST">
  <div>
    <input type="text" name="salamander[name]" placeholder="Name">
  </div>
  <div>
    <input type="password" name="salamander[password]" placeholder="Password">
  </div>
  <div>
    <input type="text" name="salamander[continent]" placeholder="Continent">
  </div>
  <div>
    <input type="text" name="salamander[color]" placeholder="Color">
  </div>

  <input type="submit" value="Create salamander">
  <div>
    <h3>Skills:</h3>
    <% @skills.each do |skill| %>
    <input type="checkbox" name="skill[]" value="<%= skill.id %>"><%= skill.name %><br>
    <% end %>
  </div>
</form>
