<h1><%= @salamander.name %>'s profile</h1>

<p>Salamander name: <%= @salamander.name %></p>
<p>Salamander lives in <%= @salamander.continent %></p>
<p>Salamander is <%= @salamander.color %> colored.</p>
